.footer {
  grid-area: footer;
  background-image: linear-gradient(
    to bottom,
    $primary-color,
    $secondary-color
  );
  margin-top: 2rem;
  @include flexEnd(column);
  padding: 0.8rem;
  font-size: 0.7rem;
  color: black;

  .redes__icon {
    width: 30px;
    height: 30px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .dev__name {
    text-decoration: none;
    text-decoration: underline;
    color: $tertiary-color;
  }
}
